.borde{
  border: 3px black solid;
}

.cover {
  height: 100vh;
  width: 100%;
}

.parallax__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translateZ(0);
}
.cover video{
  height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
    background: #000;
}
.wrapper {
  position: relative;
  z-index: 1;
  background: rgb(255, 248, 248);
  overflow: hidden;
  transform: translateZ(0);
  transition: transform .91s ease;
}

.cover__logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin: -1.1618vw 0 0;
  width: 15.7vw;
  height: 2.3236vw;
  color: #fff;
  z-index: 4;
  transition: color .3s ease;
}
/*.letters{
	animation: jsLetter 4s 1;
}

.logo{
	animation: logoAnimation 3s 3s 1;
}

@keyframes jsLetter{
  0%{ 
		color: red;		
    transform: rotate(0deg); 
  }
  100%{
		color: white;		
    transform: rotate(360deg);		
  } 
}
@keyframes logoAnimation{
  0%{ 
		color: black;		
    transform: scale(0); 
  }
	100%{ 
		color: yellow;		
    transform: scale(1);
  } 
}*/
