.borde{
  border: 3px black solid;
}

.cover {
  height: 100vh;
  width: 100%;
}

.parallax {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
}

.cover .cover__logo {
  position: absolute;
  text-align: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  z-index: 4;

/*  position: fixed;
  top: 55%;
  left: 55%;
  transform: translate(-50%);
  margin: -1.1618vw 0 0;
  width: 50%;
  height: 15%;
  color: rgb(252, 237, 237);
  z-index: 4;*/

}

.parallax__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translateZ(0);
}

.cover video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
  background: #000;
  
}

.wrapper {
  position: relative;
  z-index: 1;
  background: rgb(252, 247, 247);
  overflow: hidden;
}

.espacioado-texto{
  margin: 1em 0;
}

.espaciado-card-izq{
  padding-left: 0;
  padding-right: 5%;
}
.espacioado-card-der{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
}
.imagen-circulo{
  background: none;
  border-radius: 50%;
}

.box{    
  transition: transform 300ms, box-shadow 300ms;
}
.box:hover{
  transform: scale(1.05);
  box-shadow: 0 15px 40px #FCA9B4;
  border-radius: 50%;
}

.image--overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 62, 63, 0.6);
  color: #FCA9B4;
  display: flex;
  /*FUENTE*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50%;
}

.image--overlay:hover{
  opacity: 1;
  border-radius: 50%;
}

.image--title{
  font-size: 2em;
  font-weight: bold;
}




/*.letters{
	animation: jsLetter 4s 1;
}

.logo{
	animation: logoAnimation 3s 3s 1;
}

@keyframes jsLetter{
  0%{ 
		color: red;		
    transform: rotate(0deg); 
  }
  100%{
		color: white;		
    transform: rotate(360deg);		
  } 
}
@keyframes logoAnimation{
  0%{ 
		color: black;		
    transform: scale(0); 
  }
	100%{ 
		color: yellow;		
    transform: scale(1);
  } 
}*/
