.borde{
  border: 3px black solid;
}
body{
  background-image: linear-gradient(to bottom, white, #FFCCD3 );
}
.PuntoDeVista{
  min-height: 100vh;
  width: 100%;
}

.seccion2{
  padding: 2%;
}
.cont{
  width: 100%;
  margin: auto;
  /*background-color: #FCA9B4;
  color: white;*/
}

.formatocartaparrafo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.EspacioCartaEntreTexto{
  padding-top: 5%;
  padding-bottom: 5%;
}
.ColorBoton{
  background-color:white;
  border: 3px #FFCCD3 solid;
}

.espaciotitulocarrusel4{
  padding-bottom: 5%;
}
#sm-icons-sidebar {
  margin: 0;
  position: fixed;
  left: 0;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 0 20px 20px 0;
  background-color: #fff;
  list-style-type: none;
  padding: 7px 10px 7px 7px;
  z-index: 2;
  background-color: rgba(247, 186, 196, 0.336);
}
/*#sm-icons-sidebar img{
  max-width: 3%;
  min-width: 1%;
}*/