
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 0 ;
  }
  
  .linea {
    border-top: 2px solid #634646;
    height: 1px;
    max-width: 400px;
    padding: 0;
    margin: 50px auto 0 auto;
  }
  
  
  .borde1{
    border: 1px gray solid;
    border-radius: 4px;
  }
  
  .tituloh1{
    text-align: center;
    color: #aa3053;
  
  }
  
  .tamañoimagenes{
    max-width: 100px;
    min-width: 50px;
  }
  
  
  .tituloprod{
    background-color: #fff4f8;
    font-family: lora;
    text-align: center;
    font-weight: bold;
    
  }
  
  .precioprod{
    text-align: center;
    
  }
  
  .botonreservar{
  padding: 0%;
  }
  
  .global{
    max-height: 95px;
    min-height: 40px;
      max-width: 200px;
    min-width: 60px;
      border: 1px solid gray;
      background: white;
      overflow-y: scroll;
  }
  
  /*boton personalizado (tienes que eliminar la clase que le da color al boton en html)*/
  
  .btn-samplex { 
    color: #FFF4F8; 
    background-color: #AA3053; 
    border-color: #FFF4F8; 
  } 
   
  .btn-samplex:hover, 
  .btn-samplex:focus, 
  .btn-samplex:active, 
  .btn-samplex.active, 
  .open .dropdown-toggle.btn-samplex { 
    color: #FFF4F8; 
    background-color: #FDAAB5; 
    border-color: #FFF4F8; 
  } 
   
  .btn-samplex:active, 
  .btn-samplex.active, 
  .open .dropdown-toggle.btn-samplex { 
    background-image: none; 
  } 
   
  .btn-samplex.disabled, 
  .btn-samplex[disabled], 
  fieldset[disabled] .btn-samplex, 
  .btn-samplex.disabled:hover, 
  .btn-samplex[disabled]:hover, 
  fieldset[disabled] .btn-samplex:hover, 
  .btn-samplex.disabled:focus, 
  .btn-samplex[disabled]:focus, 
  fieldset[disabled] .btn-samplex:focus, 
  .btn-samplex.disabled:active, 
  .btn-samplex[disabled]:active, 
  fieldset[disabled] .btn-samplex:active, 
  .btn-samplex.disabled.active, 
  .btn-samplex[disabled].active, 
  fieldset[disabled] .btn-samplex.active { 
    background-color: #AA3053; 
    border-color: #FFF4F8; 
  } 
   
  .btn-samplex .badge { 
    color: #AA3053; 
    background-color: #FFF4F8; 
  }
  
  /*Final boton personalizado*/
  
  
  /*Bolsita fuera de carta, prueba*/
  
  .circleBag{
    position: relative;
    display: block;
    margin-left: auto;
    margin-top: -40px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #FFF4F8;
    padding: 10px;
    }
  
    
    .wrap{
      max-width: 1100px;
      width: 90%;
      margin: auto;
    }
    
    .wrap > h1{
      color: #494B4D;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 15px 0px;
    }
    
    .wrap > h1:after{
      content: '';
      width: 100%;
      height: 1px;
      background: #C7C7C7;
      margin: 20px 0;
    }
    
    .store-wrapper{
      display: flex;
      flex-wrap: wrap;
    }
    
    .category_list{
      display: flex;
      flex-direction: row;
      width: 100%;
     overflow: scroll;
     overflow-y: hidden;
     overflow-x: auto;
    }
  
    .category_list .category_item{
      display:auto;
      width: 100%;
      padding: 10px 0;
      margin-bottom: 50px;
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 50px;
      background: #FDAAB5;
      text-align:center;
      text-overflow: initial;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 13px;
    }
    
    .category_list .ct_item-active{
      background: #644747;
    }
    
  
  
  /* RESPONSIVE */
  
  
  
  @media screen and (max-width: 700px){
      
      .products-list{
          width: 100%;
      }
  
      .category_list{
          flex-direction: row;
          justify-content: space-between;
      font-size: 15vw;
      }
  
      .category_list {
          align-self: flex-start;
          width: 10%;
          font-size: 14px;
      }
  }
  @media screen and (max-width: 700px){
      
      .products-list{
          width: 100%;
      }
  
      .category_list{
          flex-direction: row;
          justify-content: space-between;
      font-size: 15vw;
      }
  
      .category_list {
          align-self: flex-start;
          width: 10%;
          font-size: 14px;
      }
  
  
  
  }
  @media screen and (max-width: 500px){
      .category_list{
          flex-direction: row;
      }
      .category_list {
          width: 100%;
          margin-bottom: 10px;
      font-size: 15vw;
      }
  }
  @media screen and (max-width: 600px){
      .category_list{
          flex-direction: row;
      }
      .category_list {
          width: 100%;
          margin-bottom: 10px;
      font-size: 15vw;
      }
  }
  @media screen and (max-width: 700px){
      .category_list{
          flex-direction: row;
      }
      .category_list {
          width: 100%;
          margin-bottom: 10px;
      font-size: 15vw;
      }
  }
  
  /*Pie de página*/
  
  .footer {
    background-color: #634646;
    position:relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: antiquewhite;
  }
  
  .footerText{
    position: absolute;
    top:40%;
    left: 1%;
  }
  
  .footerTextDrcha{
    position: absolute;
    top:40%;
    right: 1%;
  }