.titulo2h1{
  text-align: center;
  color: #aa3053;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;

}

.cartalarga{
  padding: 2%;
}

.cuerpoCartaReservados{
  border: 2px rgb(48, 47, 47) solid;
  border-radius: 5px;
}

.contenido1{
text-align: center;
padding-top: 25%;
}

.contenido2{
text-align: left;
padding-top: 5%;

}

.botonRes{
  color: #FFF4F8; 
  background-color: #fd5060; 
  border-color: #FFF4F8;
}

.BotonReservar{
  text-align: center;
  padding-top: 25%;
  
}