
.card {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
  background-color: white;
  border: none;

}

.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  padding-right: 25px;
  
}

.card .image img {
  width: 100%;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 80%;
  background: #aa3053;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);

}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #fd5060;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}


/*TERMINA1--------------------------------------------------COMIENZA2

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body{
height: 100vh;
font-family: sans-serif;
background: linear-gradient(45deg, #d8f2f3 0%, #cbf9f9 100%);
}

.center, .front-face, .back-face .contents {
  position: absolute;
}

.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.back-face {
  height: 100%;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.front-face{
  height: 100%;
  width: 100%;
  text-align: center;
  background: url(/imagenes/gelish1.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.2, 0.1, 0.1, 0.5);
}

.contents{
  left: 0;
  top: 50%;
  width: 100%;
  perspective: 100px;
  transform: translateY(-50%) translateZ(60px) scale(0.94); 
}

.front{
  color: #fff;
  font-size: 35px;
  margin-top: 25px;

}

.front p::after{
  content: '';
  display: block;
  left: 0;
  right: 0;
  height: 2px;
  width: 100px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}

.front span {
  color: #fff;
  font-size: #fff;
}

.back-face{
  transform: rotateY(180deg);
  background: linear-gradient(45deg, #fdaab5e0 0%, #AA3053);
}

.back{
  color: #fff;
}

.back h2{
  font-weight: lighter;
  font-size: 28px;
  padding-bottom: 5px;
}


.back span {
  font-size: 25px;
}

.icons i {
  color: #042f4b;
  background: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin: 0 5px;
  cursor: pointer;
}

.center:hover > .back-face{
  transform: rotateY(0deg);
}

.center:hover > .front-face{
  transform: rotateY(-180deg);
  
}
---------------------------------------------*/

