
main{ /*Esto tambien ayuda al footer*/
  min-height: 77vh;
}

.tituloPerfil{
  text-align: center;
  color: black;
}

.serviciosFav{
  float: left;
}

.botonGuardar{
  background-color: #FD5060;
  color: white;
}
.botonGuardar:hover{
  background-color: #AA3053;
}

/*Footer Luis Responsivo*/

footer{
  color: white;
  background-color: black;
  font-family: Century Gothic;
  text-align: center;
  padding: 1%;
  margin-top: auto;
}

footer a{
  color: white;
}
/*Footer Luis Responsivo*/