*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background: #fa4299;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}

/* ingresar codigo del contenido */
.ContenidoControl{
    height: 100%;
}
.NavCambio{
    margin-bottom: 3rem;
}
.disñoNavBar{
    color: #644747;
    font-size: 20px;
}
.disñoNavBar:hover{
    color: #AA3053;
}
.tab-pane{
    margin-left: 2rem;
    margin-right: 2rem;
}